<!-- 分割线 -->
<div class="cs-footer">
    <div class="footer-driver">
        <nz-divider class="custom-divider"></nz-divider>
    </div>
    <div class="footer-links">
        <div nz-row>
            <span class="footer-links-title">友情链接：</span>
            <a class="footer-links-content" href="https://www.bilibili.com/" target="_blank">哔哩哔哩</a>
            <a class="footer-links-content" href="https://www.zhihu.com/" target="_blank">知乎</a>
            <a class="footer-links-content" href="https://www.douban.com/" target="_blank">豆瓣</a>
        </div>
        <div nz-row  style="margin-top: 5px;">
            <span class="footer-links-title">常用链接：</span>
            <a class="footer-links-content" href="https://www.bilibili.com/" target="_blank">哔哩哔哩</a>
            <a class="footer-links-content" href="https://www.zhihu.com/" target="_blank">知乎</a>
            <a class="footer-links-content" href="https://www.douban.com/" target="_blank">豆瓣</a>
        </div>
    </div>
    <div class="footer-driver-sec">
        <nz-divider></nz-divider>
    </div>
    <div class="footer-copyright">
        <p>{{var_email}}</p>
        <p>Copyright © 2020-2021 INAT.核分析技术研究所 版权所有.</p>
    </div>

</div>
