<!-- 中心图 -->
<div class="center-pic">
  <img src="assets/images/center-picture.png" alt="center-pic" />
</div>

<!-- 简介部分 -->
<div class="intro-content">
  <div class="intro-left-pic">
    <!-- 放置一张图片 -->
    <img src="assets/images/u14.png" alt="member-pic" />
  </div>
  <div class="intro-right-text">
    <div class="intro-title">核分析技术课题组</div>
    <div class="intro-description">
      兰州大学核分析技术课题组组建于2019年10月。团队现有成员20余人。长期坚持面向国家重大需求，从实际问题出发，深入挖掘并解决核分析技术中的关键科学问题，掌握自主知识产权核心技术，系统性转化并应用于实际问题的解决中。
      开展核分析技术相关方法、设备的开发及应用研究，在实现前沿科学问题突破的基础上，广泛开展与国内外高水平研究机构及各跨学科领域的深入合作，积极拓展核分析技术的应用领域，以“穷理以致其知，反躬以践其实”的要求开展科学研究并努力实现科研成果落地，打造并培养具有独立思想、协作意识、思辨精神、专业能力的新时代人才。
    </div>
  </div>
</div>

<!-- 蓝色背景的一行，两列 -->
<div class="main-results">
  <nz-row class="result-row blue-row">
    <!-- 学术活动 -->
    <nz-col [nzSpan]="12" class="result-column">
      <div class="research-title">
        <span>
          <i nz-icon nzType="read" nzTheme="outline"></i>
          学术活动
        </span>
        <a class="more-link" (click)="goToMore('activities')">更多>></a>
      </div>
      <ul class="research-list">
        <li *ngFor="let activity of activityList" (click)="viewItem(activity)">
          <i nz-icon nzType="calendar" nzTheme="outline"></i> {{ activity.title }}
        </li>
      </ul>
    </nz-col>

    <!-- 团队建设 -->
    <nz-col [nzSpan]="12" class="result-column">
      <div class="research-title">
        <span>
          <i nz-icon nzType="team" nzTheme="outline"></i>
          团队建设
        </span>
        <a class="more-link" (click)="goToMore('team')">更多>></a>
      </div>
      <ul class="research-list">
        <li *ngFor="let member of teamList" (click)="viewItem(member)">
          <i nz-icon nzType="user" nzTheme="outline"></i> {{ member.title }}
        </li>
      </ul>
    </nz-col>
  </nz-row>
</div>


<br />

<!-- 白色背景的一行，两列 -->
<!-- 研究成果 标题部分 -->
<div class="section-header">
  <hr class="section-divider" />
  <div class="section-title">
    <img src="assets/images/u5.png" alt="研究成果图标" />
    <span>研究成果</span>
  </div>
</div>

<!-- 白色背景的一行，两列 -->
<div class="research-results">
  <nz-row class="result-row white-row">
    <!-- 学术论文 -->
    <nz-col [nzSpan]="12" class="result-column">
      <div class="research-title">
        <span>
          <i nz-icon nzType="book" nzTheme="outline"></i>
          学术论文
        </span>
        <a class="more-link" (click)="goToMore('papers')">更多>></a>
      </div>
      <ul class="research-list">
        <li *ngFor="let paper of paperList" (click)="viewItem(paper)">
          <i nz-icon nzType="file-text" nzTheme="outline"></i> {{ paper.title }}
        </li>
      </ul>
    </nz-col>

    <!-- 专利成果 -->
    <nz-col [nzSpan]="12" class="result-column">
      <div class="research-title">
        <span>
          <i nz-icon nzType="deployment-unit" nzTheme="outline"></i>
          专利成果
        </span>
        <a class="more-link" (click)="goToMore('patents')">更多>></a>
      </div>
      <ul class="research-list">
        <li *ngFor="let patent of patentList" (click)="viewItem(patent)">
          <i nz-icon nzType="file-protect" nzTheme="outline"></i> {{ patent.title }}
        </li>
      </ul>
    </nz-col>
  </nz-row>
</div>
