body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1101px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:29px;
  letter-spacing:2px;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:39px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:29px;
  letter-spacing:2px;
}
#u412 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u412_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:269px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:197px;
  height:269px;
  display:flex;
}
#u413 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:269px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:114px;
  width:201px;
  height:269px;
  display:flex;
}
#u414 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:274px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:109px;
  width:205px;
  height:274px;
  display:flex;
}
#u415 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u415_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  letter-spacing:2px;
  color:#000000;
  text-align:center;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:402px;
  width:130px;
  height:62px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  letter-spacing:2px;
  color:#000000;
  text-align:center;
}
#u416 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u416_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  letter-spacing:2px;
  color:#000000;
  text-align:center;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:402px;
  width:446px;
  height:93px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  letter-spacing:2px;
  color:#000000;
  text-align:center;
}
#u417 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u417_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  letter-spacing:2px;
  color:#000000;
  text-align:center;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:402px;
  width:234px;
  height:93px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  letter-spacing:2px;
  color:#000000;
  text-align:center;
}
#u418 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u418_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u419_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:1105px;
  height:7px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:71px;
  width:1101px;
  height:3px;
  display:flex;
  color:#888888;
}
#u419 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
